@import "tailwindcss";

:root {
  --background: #020202;
  --fontcolor: #d7d7d7;
}

body {
  background: var(--background);
  color: var(--fontcolor);
  font-family: Arial, Helvetica, sans-serif;
}

.box-theme {
  @apply flex backdrop-blur-xl bg-linear-to-l to-zinc-800/50 from-emerald-300/20 py-2.5 px-3 rounded-tl-2xl rounded-br-2xl border-2 border-zinc-700/60 drop-shadow-md drop-shadow-zinc-800/40
}